body {
    background-color: #3B3131;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.banner {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAF7F7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAF7F7;
    display: flex;
    justify-content: center;
}

.nav p {
    margin: 0rem 1rem 1rem 1rem;
}

.banner img {
    border-radius: 50%;
    height: 5rem;
}
