body {
    background-color: #3B3131;
}
.banner {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAF7F7;
    display: flex;
    justify-content: center;
}

.nav {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAF7F7;
    display: flex;
    justify-content: center;
}

.nav p {
    padding:0px 50px 50px 50px;
}