body {
    background-color: #3B3131;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}
.banner {
    color: #FAF7F7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.nav {
    color: #FAF7F7;
    display: flex;
    justify-content: center;
}

.zoom {
  transition: transform .2s; 
  }

.zoom:hover {
  transform: scale(1.5); /* enlarges any element with this class on hover */
}

.nav a {
    margin: 0rem 1rem 1rem 1rem;
    color: #FAF7F7;
}

.banner img {
    border-radius: 50%;
    height: 5rem;
}
